/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */
body {
  background-color: antiquewhite;
}

.card {
  border: 3px solid black;
  width: 70%;
  padding: 1rem;
  margin: 1rem;
  background-color: whitesmoke;
  border-radius: 1rem;
}

.title {
  font-weight: bold;
  text-align: center;
}

img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

table {
  border-collapse: collapse;
  margin-top: 1rem;
}

th,
td {
  border: 3px solid black;
  padding: 1rem;
}
